.post {
    border: 2px solid black;
    margin: 5px;
    padding:10px;
    border-radius: 10px;
    background-color: rgb(107, 41, 128);
    font-size: 18px;
    display: grid;
    grid-template-columns: 9fr 1fr;
}
.post:hover .remove {
display: block;
}
.remove {
    display:none;
    background-color: #fff;
    max-width: 120px;
    max-height: 30px;
    align-self: center;
    padding:5px;
    border:0px;
    border-radius: 4px;
    }
    .remove:hover {
      cursor: pointer;
      border:2px solid black;
      font-weight: bold;
      color:rgba(255, 0, 0, 0.692);
    }