
.comment {
    max-width: 1200px;
    padding: 30px;
}
.comment textarea {
    width: 800px;
    max-height: 100px;
    max-width: inherit;
    resize: none;
}

.comment textarea:focus {
    border: 2px solid white;

}
