.content {
    display: grid;
    grid-template-columns: 20% 80%;
}
.dialogs {
    color: purple;
    font-size: large;
    padding: 20px;
    border-right: 2px dotted purple ;
}
.messages {
    padding: 40px;
}
