.content {
  display: grid;
  grid-template-areas:
    "avatar name"
    "avatar info"
    "avatar info"
    "comment comment";
  grid-template-columns: 460px 1fr;
  grid-template-rows: 120px 280px 60px 1fr;
}

.avatar {
  padding: 20px;
  grid-area: avatar;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.avatar img {
  border: 8px solid purple;
  border-radius: 10%;
  max-width: inherit;
}

.btn :global(.ant-col) :global(.ant-form-item-control-input) :global(.ant-form-item-control-input-content) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.name {
  grid-area: name;
  padding: 10px;
  font-size: 36px;
  font-weight: bold;
}

.posts {
  grid-area: comment;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.avatar :global(.ant-btn):global(.ant-btn-round) {
  margin: 10px auto;
  justify-content: center;
  width: max-content;
  height: max-content;
}