.main {
  display: grid;
  grid-template-columns: 15% 1fr;
}

.content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

:global(.ant-layout-header).head {
  height: 100px;
  padding: 0;
}
