.users {
   display: flex;
   flex-direction: column;
   width: 100%;
}
.user {
   text-decoration: none;
   font-size: 18px;
}
h2 {
   padding-left: 20px;
}
.userList {
   width: 100%;
display: flex;
flex-direction: column;
}
:global(.ant-avatar).avatar {
   height: 48px;
   width: 48px;
   border: 1px solid rgb(82, 50, 92);
}
:global(.ant-list-item-meta).title{
   align-items: center;
}
:global(.ant-list-item-meta).title :global(.ant-list-item-meta-content) h4 a{
   font-size: 18px;
   color:rgb(82, 50, 92)
}
.input {
   font-size: 18px;
   border:2px solid rgb(82, 50, 92);
   padding:3px;
   border-radius: 5px;
   width:40%;
}
.inputContainer {
   display:flex;
   justify-content: center;
}
:global(.ant-list) {
   height: 570px; overflow: auto; padding: 0px 16px;
}