.posts {
  display: flex;
  flex-direction: column;
}
.post {
    border: 2px solid black;
    margin: 5px;
    padding:10px;
    border-radius: 10px;
    background-color: rgb(82, 50, 92);
    font-size: 18px;
}
